@font-face {
    font-family: 'Alte DIN';
    src: url('style/AlteDIN.woff2') format('woff2'),
    url('style/AlteDIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: Tahoma;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
header {
    font-size: 200%;
    background-color: white;
    border-radius: 6px 6px 0 0;
    padding-left: 5px;
}
h1, h2, h3, header {
    font-family: "Alte DIN", Arial, sans-serif;
}
.card {
    box-shadow: 0px 0px 5px #ababab;
    width: 250px;
    margin: 5px;
    padding: 5px;
    transition: box-shadow 0.25s, transform 0.15s;
    border-radius: 5px;
    background: url("img/card.jpg");
    background-attachment: fixed;
}
.mini .card {
    width: 125px;
    font-size: 50%;
}
.card a {
    text-decoration: underline;
}
.card.wide {
    width: inherit;
    max-width: 790px;
}
a>.card:hover {
    transform: scale(1.1, 1.1) rotate(10deg);
    box-shadow: 0px 3px 8px #787878;
}
a>.card.tapped {
    transform: rotate(90deg);
}
header .mana {
    float: right;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;
}
.card img {
    width: 100%;
}
a>.card:hover img, a>.card.tapped img {
    filter: brightness(60%);
}
.summary {
    padding: 5px;
    background-color: white;
    border-radius: 0 0 6px 6px;
}
a {
    text-decoration: inherit;
    color: inherit;
    outline: none;
}
body {
    background: #BEDFF1;
}
.mana.tapper {
    position: absolute;
    margin: 2em;
    width: 12em;
    height: 12em;
    opacity: 0%;
    filter: invert(100%);
    z-index: 1;
    transition: opacity 0.15s;
}
a>.card:hover>.tapper, a>.card.tapped>.tapper {
    opacity: 100%;
}
